@media(max-width:991px) {
    .menu_content {
        height: auto;
    }
}

@media(max-width:767px) {
    .navbar-brand {
        width: 50%;
    }

    .navbar-brand img {
        width: 100%;
    }

    .srch {
        border-left: none;
    }

    .navbar-expand-md .navbar-nav {
        align-items: flex-start !important;
    }

    .navbar-expand-md .navbar-nav .nav-item {
        margin: 10px 0px 0px 0px;
    }

    .navbar-expand-md .navbar-nav .nav-link::before {
        bottom: -5px;
        height: 2px;
    }

    .search-icon {
        padding-left: 0;
        margin-top: 10px;
    }

    .header_search {
        display: flex;
        padding-left: 0px;
        margin-top: 10px;
    }

    .menu_content {
        height: auto;
        display: flex;
        align-items: center;
        padding: 30px;
    }

    .section {
        margin-top: 25px;
        text-align: center;
    }

    .section i {
        margin-left: auto;
    }

    .tab {
        justify-content: center;
    }

    .tab ul {
        flex-direction: row !important;
        justify-content: center;
    }

    #pills-tab.nav-pills .nav-link.active {
        border-left: 0 !important;
        border-bottom: 1px solid var(--cs-btn);
    }

    #pills-tab.nav-pills .nav-link {
        padding: 10px;
        border-left: 0 !important;
        border-bottom: 1px solid var(--cs-gray);
        font-size: 16px;
    }
}